{% extends 'base.html' %}

{% block title %}
Vendelia | Home
{% endblock %}

{% block content %}

<main class="main-content">

    <!-- Filtering should go in the search template -->
    <!-- 🔍 Filtro por ciudad -->
    <!-- <form method="get">
        <label for="ciudad">Filtrar por ciudad:</label>
        <select name="ciudad" id="ciudad" onchange="this.form.submit()">
            <option value="">-- Todas --</option>
            {% for ciudad in ciudades %}
                <option value="{{ ciudad }}" {% if ciudad == ciudad_seleccionada %}selected{% endif %}>
                    {{ ciudad }}
                </option>
            {% endfor %}
        </select>
    </form> -->

    <!-- Productos recientes -->

    <div class="recent-products">
        <h1 class="recent-products-title">Lo más nuevo</h2>
        {% if products %}
        <ul class="product-list">
            {% for product in products %}
    
            <li class="product-item">
                <a href="{% url 'product_detail' product.id %}">
                    {% if product.photo1 %}
                    <img src="{{ product.photo1.url }}" alt="{{ product.product_name }}">
                    {% endif %}
    
                    <div class="image-card-separator"></div>
    
                    <div class="product-info">
                        <div class="info-top-row">
                            <span class="product-price">${{ product.price }}</span>
                            <span class="product-city">{{ product.owner.city }}</span>
                        </div>
                        <span class="product-title">{{ product.product_name }}</span>
                    </div>
                </a>
            </li>
    
            {% endfor %}
        </ul>
    
        {% else %}
            <p>Aún no hay productos, qué esperas para ofrecer los tuyos?</p>
        {% endif %}
    </div>

</main>
{% endblock %}