{% extends 'base.html' %}

{% block title %}
    Registro de Usuario
{% endblock %}

{% block content %}
    <!-- Container de para el Form -->
    <div class="form-container">
        <h2>Crea tu cuenta</h2>
        
        <!-- Registro del usuario -->
        <form action="" method="post" class="register-form">
            {% csrf_token %}
            <!-- Rendering the los forms.py -->
            {{ register_user_form.as_p }}       
            
            <!-- Botton de Registrarse-->
            <button name="userAdd" type="submit" class="submit-btn">Enviar</button>
        </form>
    </div>
{% endblock %}
