{% extends 'base.html' %}

{% block title %}
Vendelia | Nuevo Producto
{% endblock %}

{% block content %}
<div class="new-product-wrapper">
     <div class="new-product-info">
          <h1 class="new-product-title">Publicar nuevo Aviso</h1>
          <p class="new-product-subtitle">Completa los campos para publicar tu aviso.</p>
     </div>
     <form method="post" enctype="multipart/form-data" class="new-product-form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="new-product-submit-btn">Publicar Aviso</button>
     </form>
</div>
{% endblock %}