asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
Django==3.2.12
idna==3.10
pillow==11.2.1
pytz==2025.2
requests==2.32.4
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.13.2
urllib3==2.5.0
